*{
    padding:0;
    margin:0;
}

.topHeader{
    background-color: #3d3d3d;
    padding: 50px;
    font-family: 'Anton', sans-serif;
    background:url(../img/fury-header.jpg);
    background-size:cover;
}

body{
    text-align:center;
    background-color: #151515;
    color: #edf6ff;
    font-family: 'Signika Negative', sans-serif;
}

h1{
    font-size: 120px;
    padding: 20px;
    text-transform: uppercase;
}

#red{
    color: red;
}

h2{
    font-size: 30px;
    padding:20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

img{
    display: block;
    margin: auto;
    width:50%;
    padding:30px;
}

.navMenu{
    list-style: none;
    padding: 30px;
    text-transform: lowercase;
    margin-top:15px;
    font-size:20px;
}

.navMenu li{
    display: inline-block;
}

.navMenu a{
    .text-decoration: none;
    padding: 10px;
    color: #edf6ff;
}

.mainSection{
    padding:50px;
}

#blurb{
    width: 50%;
    margin: auto;
}

footer{
    margin-top: 20px;
    padding: 40px;
    background-color: #3d3d3d;
}

#contact{
    font-size: 20px;
    color: #edf6ff;
}